


.child-left li{
	float: left;
}


.menu ul {
        margin: 0;
    padding: 0;
    width: 100%;
}
.menu ul li {
        display:block;
        width: 30%;
        min-width: 75px;
        margin-right: 5%;
        margin-bottom: 10%;
}
.menu ul li:nth-child(3n+3){
            margin-right: 0;
            float: right;
}
		
.menu ul li a{
	color:#666;
            display: block;
            font-size: 17px;
             
            font-weight: 300 !important;
            text-transform: capitalize;
            text-align: center;
			text-decoration:none;
}
.menu ul li a img{
                margin-bottom:5px;
                border-radius: 50px;
                width: 75px;
 }
.menu ul li a:hover img{
            
                    /*.transformer(scaleX(-1));*/
                    background-color: #fff;
                }

.menu ul li a span{
                display:block;
                height : 30px;
}



